# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Configuración de VS Code
.vscode/

# temporales
*.tmp
*.temp

# Otros archivos innecesarios (opcional)
*.swp
*.DS_Store

# logs de ejeción
./Server/python3/Program/logs/
./Server/python3/Program/tmp/