# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Configuración de VS Code
.vscode/

# temporales
*.tmp
*.temp

# Otros archivos innecesarios (opcional)
*.swp
*.DS_Store

# logs de ejeción
*.log
./Server/python3/Program/logs/.SenderWhatsappMessage.log
./Server/python3/Program/logs/00_MotorBolsaIA.log
./Server/python3/Program/tmp/resultados_anteriores_trading*

# depuración de graficos
*.png